jenkins:
  systemMessage: "Jenkins Lab - Version Final"
  numExecutors: 0
  mode: NORMAL
  
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: "admin"
         password: "admin"
  
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  # CORRECCIÓN: 'clouds' ahora está dentro de 'jenkins' (con sangría)
  clouds:
    - docker:
        name: "dockercito"
        dockerApi:
          dockerHost:
            uri: "tcp://dind:2375"
        templates:
          - labelString: "docker-agent"
            name: "agente-basico"
            remoteFs: "/home/jenkins/agent"
            connector:
              attach:
                user: "jenkins"
            dockerTemplateBase:
              image: "jenkins/agent"